@import "tailwindcss";

@theme {
  --height-bold_button: 4.25rem;
  --height-entry_line: 48px;
  --height-ios0: 340px;
  --height-ios1: 345px;
  --height-line: 46px;
  --height-line_button: 3.25rem;
  --height-lo_bottom_button_ios0: 90px;
  --height-lo_bottom_button_ios1: 112px;
  --height-lo_view_main_ios0: 22rem;
  --height-lo_view_main_ios1: 28rem;
  --height-nav_page_header_ios0: 62px;
  --height-nav_page_header_ios1: 62px;
  --height-nav_page_toolbar_ios0: 72px;
  --height-nav_page_toolbar_ios1: 120px;
  --height-nav_tabs_ios0: 80px;
  --height-nav_tabs_ios1: 120px;
  --height-touch_guide: 3.4rem;
  --max-height-bold_button: 4.25rem;
  --max-height-entry_line: 48px;
  --max-height-ios0: 340px;
  --max-height-ios1: 345px;
  --max-height-line: 46px;
  --max-height-line_button: 3.25rem;
  --max-height-lo_bottom_button_ios0: 90px;
  --max-height-lo_bottom_button_ios1: 112px;
  --max-height-lo_view_main_ios0: 22rem;
  --max-height-lo_view_main_ios1: 28rem;
  --max-height-nav_page_header_ios0: 62px;
  --max-height-nav_page_header_ios1: 62px;
  --max-height-nav_page_toolbar_ios0: 72px;
  --max-height-nav_page_toolbar_ios1: 120px;
  --max-height-nav_tabs_ios0: 80px;
  --max-height-nav_tabs_ios1: 120px;
  --max-height-touch_guide: 3.4rem;
  --max-width-ios0: 340px;
  --max-width-ios1: 345px;
  --max-width-lo_ios0: 340px;
  --max-width-lo_ios1: 345px;
  --max-width-lo_line_entry_ios0: 349px;
  --max-width-lo_line_entry_ios1: 378px;
  --max-width-lo_textdesc_ios0: 312px;
  --max-width-lo_textdesc_ios1: 312px;
  --max-width-trellis_display: 286px;
  --max-width-trellis_value: 180px;
  --min-height-bold_button: 4.25rem;
  --min-height-entry_line: 48px;
  --min-height-ios0: 340px;
  --min-height-ios1: 345px;
  --min-height-line: 46px;
  --min-height-line_button: 3.25rem;
  --min-height-lo_bottom_button_ios0: 90px;
  --min-height-lo_bottom_button_ios1: 112px;
  --min-height-lo_view_main_ios0: 22rem;
  --min-height-lo_view_main_ios1: 28rem;
  --min-height-nav_page_header_ios0: 62px;
  --min-height-nav_page_header_ios1: 62px;
  --min-height-nav_page_toolbar_ios0: 72px;
  --min-height-nav_page_toolbar_ios1: 120px;
  --min-height-nav_tabs_ios0: 80px;
  --min-height-nav_tabs_ios1: 120px;
  --min-height-touch_guide: 3.4rem;
  --min-width-ios0: 340px;
  --min-width-ios1: 345px;
  --min-width-lo_ios0: 340px;
  --min-width-lo_ios1: 345px;
  --min-width-lo_line_entry_ios0: 349px;
  --min-width-lo_line_entry_ios1: 378px;
  --min-width-lo_textdesc_ios0: 312px;
  --min-width-lo_textdesc_ios1: 312px;
  --min-width-trellis_display: 286px;
  --min-width-trellis_value: 180px;
  --padding-dim_ios0: 340px;
  --padding-dim_ios1: 345px;
  --padding-h_bold_button: 4.25rem;
  --padding-h_entry_line: 48px;
  --padding-h_ios0: 340px;
  --padding-h_ios1: 345px;
  --padding-h_line: 46px;
  --padding-h_line_button: 3.25rem;
  --padding-h_lo_bottom_button_ios0: 90px;
  --padding-h_lo_bottom_button_ios1: 112px;
  --padding-h_lo_view_main_ios0: 22rem;
  --padding-h_lo_view_main_ios1: 28rem;
  --padding-h_nav_page_header_ios0: 62px;
  --padding-h_nav_page_header_ios1: 62px;
  --padding-h_nav_page_toolbar_ios0: 72px;
  --padding-h_nav_page_toolbar_ios1: 120px;
  --padding-h_nav_tabs_ios0: 80px;
  --padding-h_nav_tabs_ios1: 120px;
  --padding-h_touch_guide: 3.4rem;
  --padding-w_ios0: 340px;
  --padding-w_ios1: 345px;
  --padding-w_lo_ios0: 340px;
  --padding-w_lo_ios1: 345px;
  --padding-w_lo_line_entry_ios0: 349px;
  --padding-w_lo_line_entry_ios1: 378px;
  --padding-w_lo_textdesc_ios0: 312px;
  --padding-w_lo_textdesc_ios1: 312px;
  --padding-w_trellis_display: 286px;
  --padding-w_trellis_value: 180px;
  --spacing-dim_ios0: 340px;
  --spacing-dim_ios1: 345px;
  --spacing-edge: 2px;
  --spacing-line: 1px;
  --translate-h_bold_button: 4.25rem;
  --translate-h_entry_line: 48px;
  --translate-h_ios0: 340px;
  --translate-h_ios1: 345px;
  --translate-h_line: 46px;
  --translate-h_line_button: 3.25rem;
  --translate-h_lo_bottom_button_ios0: 90px;
  --translate-h_lo_bottom_button_ios1: 112px;
  --translate-h_lo_view_main_ios0: 22rem;
  --translate-h_lo_view_main_ios1: 28rem;
  --translate-h_nav_page_header_ios0: 62px;
  --translate-h_nav_page_header_ios1: 62px;
  --translate-h_nav_page_toolbar_ios0: 72px;
  --translate-h_nav_page_toolbar_ios1: 120px;
  --translate-h_nav_tabs_ios0: 80px;
  --translate-h_nav_tabs_ios1: 120px;
  --translate-h_touch_guide: 3.4rem;
  --translate-w_ios0: 340px;
  --translate-w_ios1: 345px;
  --translate-w_lo_ios0: 340px;
  --translate-w_lo_ios1: 345px;
  --translate-w_lo_line_entry_ios0: 349px;
  --translate-w_lo_line_entry_ios1: 378px;
  --translate-w_lo_textdesc_ios0: 312px;
  --translate-w_lo_textdesc_ios1: 312px;
  --translate-w_trellis_display: 286px;
  --translate-w_trellis_value: 180px;
  --width-ios0: 340px;
  --width-ios1: 345px;
  --width-lo_ios0: 340px;
  --width-lo_ios1: 345px;
  --width-lo_line_entry_ios0: 349px;
  --width-lo_line_entry_ios1: 378px;
  --width-lo_textdesc_ios0: 312px;
  --width-lo_textdesc_ios1: 312px;
  --width-trellis_display: 286px;
  --width-trellis_value: 180px;
}
